<?xml version="1.0"?>
<robot name="smc_zp3_t10umn_a5">
<link name="mount"><visual ><geometry ><mesh filename="../meshes/mount.obj"/></geometry></visual><collision ><origin xyz="0 0 0.00125" rpy="0 0 0"/><geometry ><cylinder radius="0.00578" length="0.0025"/></geometry></collision><collision ><origin xyz="0 0 0.006" rpy="0 0 0"/><geometry ><cylinder radius="0.0055" length="0.007"/></geometry></collision></link>
<link name="tcp"></link>
<joint name="tcp_joint" type="fixed"><parent link="mount"/><child link="tcp"/><origin xyz="0 0 0.0095" rpy="0 0 0"/></joint>
</robot>
