<?xml version="1.0"?>
<robot name="fanuc_sr3ia_reference">
<link name="base_link"><visual ><geometry ><mesh filename="../meshes/base_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.088" rpy="0 0 0"/><geometry ><cylinder radius="0.066" length="0.176"/></geometry></collision><collision ><origin xyz="-0.066 0 0.088" rpy="0 0 0"/><geometry ><box size="0.132 0.12 0.176"/></geometry></collision><collision ><origin xyz="-0.005 0 0.006" rpy="0 0 0"/><geometry ><box size="0.15 0.14 0.012"/></geometry></collision></link>
<link name="J1_link"><visual ><geometry ><mesh filename="../meshes/J1_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.029" rpy="0 0 0"/><geometry ><cylinder radius="0.064" length="0.058"/></geometry></collision><collision ><origin xyz="0.1 0 0.015" rpy="0 0 0"/><geometry ><box size="0.2 0.09 0.03"/></geometry></collision><collision ><origin xyz="0.2 0 0.008" rpy="0 0 0"/><geometry ><cylinder radius="0.058" length="0.044"/></geometry></collision></link>
<link name="J2_link"><visual ><geometry ><mesh filename="../meshes/J2_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.09" rpy="0 0 0"/><geometry ><cylinder radius="0.0625" length="0.18"/></geometry></collision><collision ><origin xyz="0.126 0 0.065" rpy="0 0 0"/><geometry ><box size="0.252 0.125 0.094"/></geometry></collision><collision ><origin xyz="0.1075 0 0.153" rpy="0 0 0"/><geometry ><box size="0.215 0.118 0.082"/></geometry></collision><collision ><origin xyz="0.2 0 0.0035" rpy="0 0 0"/><geometry ><cylinder radius="0.03" length="0.029"/></geometry></collision></link>
<link name="J3_link"><visual ><geometry ><mesh filename="../meshes/J3_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.219" rpy="0 0 0"/><geometry ><cylinder radius="0.01" length="0.358"/></geometry></collision><collision ><origin xyz="0 0 0.403" rpy="0 0 0"/><geometry ><cylinder radius="0.019" length="0.01"/></geometry></collision></link>
<link name="J4_link"><visual ><geometry ><mesh filename="../meshes/J4_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.019" rpy="0 0 0"/><geometry ><cylinder radius="0.02" length="0.038"/></geometry></collision></link>
<link name="flange"></link>
<link name="tool0"></link>
<joint name="J1" type="revolute"><parent link="base_link"/><child link="J1_link"/><origin xyz="0 0 0.176" rpy="0 0 0"/><axis xyz="0 0 1"/><limit lower="-2.478367537831948" upper="2.478367537831948" velocity="12.566370614359172"/></joint>
<joint name="J2" type="revolute"><parent link="J1_link"/><child link="J2_link"/><origin xyz="0.2 0 0.03" rpy="0 0 0"/><axis xyz="0 0 1"/><limit lower="-2.530727415391778" upper="2.530727415391778" velocity="13.61356816555577"/></joint>
<joint name="J3" type="prismatic"><parent link="J2_link"/><child link="J3_link"/><origin xyz="0.2 0 -0.056" rpy="0 0 0"/><axis xyz="0 0 -1"/><limit lower="0" upper="0.2" velocity="1.8"/></joint>
<joint name="J4" type="revolute"><parent link="J3_link"/><child link="J4_link"/><origin xyz="0 0 0" rpy="0 0 0"/><axis xyz="0 0 -1"/><limit lower="-12.566370614359172" upper="12.566370614359172" velocity="52.35987755982988"/></joint>
<joint name="J4_flange" type="fixed"><parent link="J4_link"/><child link="flange"/><origin xyz="0 0 0" rpy="3.14159265359 0 0"/></joint>
<joint name="flange_tool0" type="fixed"><parent link="flange"/><child link="tool0"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
</robot>
