<?xml version="1.0"?>
<robot name="ewellix_liftkit_ur620_reference">
<link name="base_link"></link>
<link name="lift_plate_link"><visual ><geometry ><mesh filename="../meshes/lift_plate_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.0075" rpy="0 0 0"/><geometry ><box size="0.2 0.2 0.015"/></geometry></collision></link>
<link name="lift_base_link"><visual ><geometry ><mesh filename="../meshes/lift_base_link.obj"/></geometry></visual><collision ><origin xyz="-0.08 0 0.41035" rpy="0 0 0"/><geometry ><box size="0.003 0.163 0.8207"/></geometry></collision><collision ><origin xyz="0 -0.08 0.41035" rpy="0 0 0"/><geometry ><box size="0.157 0.003 0.8207"/></geometry></collision><collision ><origin xyz="0.08 0 0.41035" rpy="0 0 0"/><geometry ><box size="0.003 0.163 0.8207"/></geometry></collision><collision ><origin xyz="0 0.08 0.41035" rpy="0 0 0"/><geometry ><box size="0.157 0.003 0.8207"/></geometry></collision></link>
<link name="lift_lower_link"><visual ><geometry ><mesh filename="../meshes/lift_lower_link.obj"/></geometry></visual><collision ><origin xyz="-0.0715 0 0.4" rpy="0 0 0"/><geometry ><box size="0.003 0.146 0.8"/></geometry></collision><collision ><origin xyz="0 -0.0715 0.4" rpy="0 0 0"/><geometry ><box size="0.14 0.003 0.8"/></geometry></collision><collision ><origin xyz="0.0715 0 0.4" rpy="0 0 0"/><geometry ><box size="0.003 0.146 0.8"/></geometry></collision><collision ><origin xyz="0 0.0715 0.4" rpy="0 0 0"/><geometry ><box size="0.14 0.003 0.8"/></geometry></collision></link>
<link name="lift_upper_link"><visual ><geometry ><mesh filename="../meshes/lift_upper_link.obj"/></geometry></visual><collision ><origin xyz="-0.063 0 0.419" rpy="0 0 0"/><geometry ><box size="0.003 0.129 0.838"/></geometry></collision><collision ><origin xyz="0 -0.063 0.419" rpy="0 0 0"/><geometry ><box size="0.123 0.003 0.838"/></geometry></collision><collision ><origin xyz="0.063 0 0.419" rpy="0 0 0"/><geometry ><box size="0.003 0.129 0.838"/></geometry></collision><collision ><origin xyz="0 0.063 0.419" rpy="0 0 0"/><geometry ><box size="0.123 0.003 0.838"/></geometry></collision></link>
<link name="lift_mount_link"><visual ><geometry ><mesh filename="../meshes/lift_mount_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.0075" rpy="0 0 0"/><geometry ><box size="0.251 0.251 0.015"/></geometry></collision></link>
<link name="lift_mount"></link>
<joint name="lift_plate_joint" type="fixed"><parent link="base_link"/><child link="lift_plate_link"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
<joint name="lift_base_joint" type="fixed"><parent link="lift_plate_link"/><child link="lift_base_link"/><origin xyz="0 0 0.015" rpy="0 0 0"/></joint>
<joint name="lift_lower_joint" type="prismatic"><parent link="lift_base_link"/><child link="lift_lower_link"/><origin xyz="0 0 0.03" rpy="0 0 0"/><axis xyz="0 0 1"/><limit lower="0" upper="0.4" velocity="0.04" effort="1500"/></joint>
<joint name="lift_upper_joint" type="prismatic"><parent link="lift_lower_link"/><child link="lift_upper_link"/><origin xyz="0 0 0.007" rpy="0 0 0"/><axis xyz="0 0 1"/><limit lower="0" upper="0.4" velocity="0.04" effort="1500"/><mimic joint="lift_lower_joint" multiplier="1" offset="0"/></joint>
<joint name="lift__mount_link_joint" type="fixed"><parent link="lift_upper_link"/><child link="lift_mount_link"/><origin xyz="0 0 0.838" rpy="0 0 0"/></joint>
<joint name="lift_mount_joint" type="fixed"><parent link="lift_mount_link"/><child link="lift_mount"/><origin xyz="0 0 0.015" rpy="0 0 0"/></joint>
</robot>
