<?xml version="1.0"?>
<robot name="daihen_wb_p352l">
<link name="base_link"><visual ><geometry ><mesh filename="../meshes/base_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.35" rpy="0 0 0"/><geometry ><box size="0.395 0.71 0.58"/></geometry></collision><collision ><origin xyz="0 0.025 0.03" rpy="0 0 0"/><geometry ><box size="0.38 0.54 0.06"/></geometry></collision></link>
<link name="mount"></link>
<link name="torch_outlet"></link>
<joint name="mount_joint" type="fixed"><parent link="base_link"/><child link="mount"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
<joint name="torch_outlet_joint" type="fixed"><parent link="base_link"/><child link="torch_outlet"/><origin xyz="-0.06 -0.355 0.3" rpy="0 0 0"/></joint>
</robot>
