<?xml version='1.0' encoding='utf-8'?>
<robot name="grp-es-cpl-062">
  <link name="mount">
    <visual>
      <origin xyz="0 0 0.004" rpy="-1.57079632679 0 0" />
      <geometry>
        <mesh filename="../../robotiq_2f85_v4/assets/base_coupling.stl" />
      </geometry>
      <material name="mount_base_coupling">
        <color rgba=".149 .149 .149 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.004" rpy="-1.57079632679 0 0" />
      <geometry>
        <mesh filename="../../robotiq_2f85_v4/assets/base_coupling.stl" />
      </geometry>
    </collision>
  </link>
  <link name="flange" />
  <joint name="flange_joint" type="fixed">
    <parent link="mount" />
    <child link="flange" />
    <origin xyz="0 0 0.0139" rpy="0 0 0" />
  </joint>
</robot>