<?xml version='1.0' encoding='utf-8'?>
<robot name="bx250l-b001">
  <link name="base_link">
    <visual name="foot">
      <geometry>
        <mesh filename="../meshes/foot.stl" />
      </geometry>
      <material name="foot_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.0625 0.015" rpy="0 0 0" />
      <geometry>
        <box size="0.75 0.875 0.03" />
      </geometry>
    </collision>
    <visual name="base_pedestal">
      <geometry>
        <mesh filename="../meshes/base_pedestal.stl" />
      </geometry>
      <material name="base_pedestal_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.152" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.295" length="0.244" />
      </geometry>
    </collision>
    <visual name="base_cast_rib_0">
      <geometry>
        <mesh filename="../meshes/base_cast_rib_0.stl" />
      </geometry>
      <material name="base_cast_rib_0_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="base_cast_rib_1">
      <geometry>
        <mesh filename="../meshes/base_cast_rib_1.stl" />
      </geometry>
      <material name="base_cast_rib_1_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="base_cast_rib_2">
      <geometry>
        <mesh filename="../meshes/base_cast_rib_2.stl" />
      </geometry>
      <material name="base_cast_rib_2_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="base_cast_rib_3">
      <geometry>
        <mesh filename="../meshes/base_cast_rib_3.stl" />
      </geometry>
      <material name="base_cast_rib_3_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="connector_box">
      <geometry>
        <mesh filename="../meshes/connector_box.stl" />
      </geometry>
      <material name="connector_box_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="connector_panel">
      <geometry>
        <mesh filename="../meshes/connector_panel.stl" />
      </geometry>
      <material name="connector_panel_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="power_connector_m0_074">
      <geometry>
        <mesh filename="../meshes/power_connector_m0_074.stl" />
      </geometry>
      <material name="power_connector_m0_074_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="power_connector_0">
      <geometry>
        <mesh filename="../meshes/power_connector_0.stl" />
      </geometry>
      <material name="power_connector_0_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="power_connector_0_074">
      <geometry>
        <mesh filename="../meshes/power_connector_0_074.stl" />
      </geometry>
      <material name="power_connector_0_074_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
  </link>
  <link name="link1">
    <visual name="turntable">
      <geometry>
        <mesh filename="../meshes/turntable.stl" />
      </geometry>
      <material name="turntable_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.36" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.3" length="0.07" />
      </geometry>
    </collision>
    <visual name="shoulder_web">
      <geometry>
        <mesh filename="../meshes/shoulder_web.stl" />
      </geometry>
      <material name="shoulder_web_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.1 -0.14" rpy="0 0 0" />
      <geometry>
        <box size="0.55 0.55 0.4" />
      </geometry>
    </collision>
    <visual name="shoulder_housing">
      <geometry>
        <mesh filename="../meshes/shoulder_housing.stl" />
      </geometry>
      <material name="shoulder_housing_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="shoulder_motor_body">
      <geometry>
        <mesh filename="../meshes/shoulder_motor_body.stl" />
      </geometry>
      <material name="shoulder_motor_body_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="shoulder_motor_endcap">
      <geometry>
        <mesh filename="../meshes/shoulder_motor_endcap.stl" />
      </geometry>
      <material name="shoulder_motor_endcap_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="shoulder_motor_connector">
      <geometry>
        <mesh filename="../meshes/shoulder_motor_connector.stl" />
      </geometry>
      <material name="shoulder_motor_connector_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="base_axis_motor_body">
      <geometry>
        <mesh filename="../meshes/base_axis_motor_body.stl" />
      </geometry>
      <material name="base_axis_motor_body_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="base_axis_motor_endcap">
      <geometry>
        <mesh filename="../meshes/base_axis_motor_endcap.stl" />
      </geometry>
      <material name="base_axis_motor_endcap_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="base_axis_motor_connector">
      <geometry>
        <mesh filename="../meshes/base_axis_motor_connector.stl" />
      </geometry>
      <material name="base_axis_motor_connector_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="parallel_lower_bracket">
      <geometry>
        <mesh filename="../meshes/parallel_lower_bracket.stl" />
      </geometry>
      <material name="parallel_lower_bracket_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
  </link>
  <link name="link2">
    <visual name="upper_arm">
      <geometry>
        <mesh filename="../meshes/upper_arm.stl" />
      </geometry>
      <material name="upper_arm_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.045 0 0.17" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.36 0.34" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.045 -0.05 0.49" rpy="0 0 0" />
      <geometry>
        <box size="0.22 0.25 0.38" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.045 -0.04 0.84" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.22 0.39" />
      </geometry>
    </collision>
    <visual name="upper_arm_root">
      <geometry>
        <mesh filename="../meshes/upper_arm_root.stl" />
      </geometry>
      <material name="upper_arm_root_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="arm_axis_motor_body">
      <geometry>
        <mesh filename="../meshes/arm_axis_motor_body.stl" />
      </geometry>
      <material name="arm_axis_motor_body_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="arm_axis_motor_endcap">
      <geometry>
        <mesh filename="../meshes/arm_axis_motor_endcap.stl" />
      </geometry>
      <material name="arm_axis_motor_endcap_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="arm_axis_motor_connector">
      <geometry>
        <mesh filename="../meshes/arm_axis_motor_connector.stl" />
      </geometry>
      <material name="arm_axis_motor_connector_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="upper_arm_elbow">
      <geometry>
        <mesh filename="../meshes/upper_arm_elbow.stl" />
      </geometry>
      <material name="upper_arm_elbow_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
  </link>
  <link name="parallel_arm1">
    <visual name="parallel_rod">
      <geometry>
        <mesh filename="../meshes/parallel_rod.stl" />
      </geometry>
      <material name="parallel_rod_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.031077 0.550541" rpy="0 0 0" />
      <geometry>
        <box size="0.09 0.17 1.23" />
      </geometry>
    </collision>
  </link>
  <link name="parallel_arm2">
    <visual name="elbow_carrier">
      <geometry>
        <mesh filename="../meshes/elbow_carrier.stl" />
      </geometry>
      <material name="elbow_carrier_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.287 0.06 0.18" rpy="0 0 0" />
      <geometry>
        <box size="0.09 0.4 0.43" />
      </geometry>
    </collision>
    <visual name="carrier_bearing">
      <geometry>
        <mesh filename="../meshes/carrier_bearing.stl" />
      </geometry>
      <material name="carrier_bearing_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
  </link>
  <link name="link3">
    <visual name="elbow_housing">
      <geometry>
        <mesh filename="../meshes/elbow_housing.stl" />
      </geometry>
      <material name="elbow_housing_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <visual name="elbow_axis_endcap">
      <geometry>
        <mesh filename="../meshes/elbow_axis_endcap.stl" />
      </geometry>
      <material name="elbow_axis_endcap_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="elbow_motor_body">
      <geometry>
        <mesh filename="../meshes/elbow_motor_body.stl" />
      </geometry>
      <material name="elbow_motor_body_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="elbow_motor_endcap">
      <geometry>
        <mesh filename="../meshes/elbow_motor_endcap.stl" />
      </geometry>
      <material name="elbow_motor_endcap_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="elbow_motor_connector">
      <geometry>
        <mesh filename="../meshes/elbow_motor_connector.stl" />
      </geometry>
      <material name="elbow_motor_connector_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder radius="0.192" length="0.42" />
      </geometry>
    </collision>
    <visual name="wrist_swivel_base">
      <geometry>
        <mesh filename="../meshes/wrist_swivel_base.stl" />
      </geometry>
      <material name="wrist_swivel_base_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.201 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius="0.17" length="0.292" />
      </geometry>
    </collision>
  </link>
  <link name="link4">
    <visual name="wrist_fork_left">
      <geometry>
        <mesh filename="../meshes/wrist_fork_left.stl" />
      </geometry>
      <material name="wrist_fork_left_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.14 0.558 0.188" rpy="0 0 0" />
      <geometry>
        <box size="0.06 1.03 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.14 0.558 -0.163" rpy="0 0 0" />
      <geometry>
        <box size="0.06 1.03 0.072" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.14 0.048 0" rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.1 0.35" />
      </geometry>
    </collision>
    <visual name="wrist_fork_right">
      <geometry>
        <mesh filename="../meshes/wrist_fork_right.stl" />
      </geometry>
      <material name="wrist_fork_right_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.14 0.558 0.188" rpy="0 0 0" />
      <geometry>
        <box size="0.06 1.03 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.14 0.558 -0.163" rpy="0 0 0" />
      <geometry>
        <box size="0.06 1.03 0.072" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.14 0.048 0" rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.1 0.35" />
      </geometry>
    </collision>
    <visual name="forearm">
      <geometry>
        <mesh filename="../meshes/forearm.stl" />
      </geometry>
      <material name="forearm_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.048 0" rpy="0 0 0" />
      <geometry>
        <box size="0.34 0.08 0.38" />
      </geometry>
    </collision>
    <visual name="wrist_drive_motor_body">
      <geometry>
        <mesh filename="../meshes/wrist_drive_motor_body.stl" />
      </geometry>
      <material name="wrist_drive_motor_body_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="wrist_drive_motor_endcap">
      <geometry>
        <mesh filename="../meshes/wrist_drive_motor_endcap.stl" />
      </geometry>
      <material name="wrist_drive_motor_endcap_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="wrist_drive_motor_connector">
      <geometry>
        <mesh filename="../meshes/wrist_drive_motor_connector.stl" />
      </geometry>
      <material name="wrist_drive_motor_connector_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="wrist_motor_mount">
      <geometry>
        <mesh filename="../meshes/wrist_motor_mount.stl" />
      </geometry>
      <material name="wrist_motor_mount_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="wrist_drive_shaft">
      <geometry>
        <mesh filename="../meshes/wrist_drive_shaft.stl" />
      </geometry>
      <material name="wrist_drive_shaft_material">
        <color rgba="0.43 0.46 0.47 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.648 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius="0.037" length="0.66" />
      </geometry>
    </collision>
    <visual name="forearm_cover">
      <geometry>
        <mesh filename="../meshes/forearm_cover.stl" />
      </geometry>
      <material name="forearm_cover_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
    <visual name="forearm_cover_far">
      <geometry>
        <mesh filename="../meshes/forearm_cover_far.stl" />
      </geometry>
      <material name="forearm_cover_far_material">
        <color rgba="0.028 0.035 0.039 1" />
      </material>
    </visual>
  </link>
  <link name="link5">
    <visual name="wrist_bend">
      <geometry>
        <mesh filename="../meshes/wrist_bend.stl" />
      </geometry>
      <material name="wrist_bend_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder radius="0.116" length="0.212" />
      </geometry>
    </collision>
    <visual name="wrist_body">
      <geometry>
        <mesh filename="../meshes/wrist_body.stl" />
      </geometry>
      <material name="wrist_body_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.1 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius="0.126" length="0.2" />
      </geometry>
    </collision>
  </link>
  <link name="link6">
    <visual name="wrist_output_housing">
      <geometry>
        <mesh filename="../meshes/wrist_output_housing.stl" />
      </geometry>
      <material name="wrist_output_housing_material">
        <color rgba="0.79 0.82 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.093 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius="0.11" length="0.11" />
      </geometry>
    </collision>
    <visual name="gun_bracket_160">
      <geometry>
        <mesh filename="../meshes/gun_bracket_160.stl" />
      </geometry>
      <material name="gun_bracket_160_material">
        <color rgba="0.44 0.48 0.49 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.028 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.056" />
      </geometry>
    </collision>
  </link>
  <link name="flange" />
  <joint name="joint1" type="revolute">
    <parent link="base_link" />
    <child link="link1" />
    <origin xyz="0 0 0.67" rpy="0 0 0" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14159265359" upper="3.14159265359" velocity="2.18166156499" />
  </joint>
  <joint name="joint2" type="revolute">
    <parent link="link1" />
    <child link="link2" />
    <origin xyz="0 0.21 0" rpy="0 0 0" />
    <axis xyz="-1 0 0" />
    <limit lower="-1.0471975512" upper="1.32645023152" velocity="2.09439510239" />
  </joint>
  <joint name="joint3" type="revolute">
    <parent link="parallel_arm2" />
    <child link="link3" />
    <origin xyz="0 0.185 0.27" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-2.09439510239" upper="1.57079632679" velocity="1.74532925199" />
  </joint>
  <joint name="joint4" type="revolute">
    <parent link="link3" />
    <child link="link4" />
    <origin xyz="0 0.327 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.66519142919" upper="3.66519142919" velocity="2.44346095279" />
  </joint>
  <joint name="joint5" type="revolute">
    <parent link="link4" />
    <child link="link5" />
    <origin xyz="0 1.023 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-2.18166156499" upper="2.18166156499" velocity="2.44346095279" />
  </joint>
  <joint name="joint6" type="revolute">
    <parent link="link5" />
    <child link="link6" />
    <origin xyz="0 0.343 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.66519142919" upper="3.66519142919" velocity="3.49065850399" />
  </joint>
  <joint name="parallel_joint2" type="continuous">
    <parent link="link2" />
    <child link="parallel_arm2" />
    <origin xyz="0 0 1.1" rpy="0 0 0" />
    <axis xyz="-1 0 0" />
    <mimic joint="joint2" multiplier="-1" offset="0" />
  </joint>
  <joint name="parallel_joint1" type="continuous">
    <parent link="link1" />
    <child link="parallel_arm1" />
    <origin xyz="0.287 -0.183923 0.069459" rpy="0 0 0" />
    <axis xyz="-1 0 0" />
    <mimic joint="joint2" multiplier="1" offset="0" />
  </joint>
  <joint name="flange_joint" type="fixed">
    <parent link="link6" />
    <child link="flange" />
    <origin xyz="0 0 0" rpy="-1.57079632679 -1.57079632679 0" />
  </joint>
</robot>
