<?xml version="1.0"?>
<robot name="daihen_cm_7403">
<link name="base_link"><visual ><geometry ><mesh filename="../meshes/base_link.obj"/></geometry></visual><collision ><origin xyz="0 0.13675 0.106" rpy="0 0 0"/><geometry ><box size="0.254 0.3615 0.212"/></geometry></collision><collision ><origin xyz="0 0.086 0.2785" rpy="0 0 0"/><geometry ><box size="0.254 0.26 0.133"/></geometry></collision><collision ><origin xyz="0 0.2595 0.245" rpy="0 0 0"/><geometry ><box size="0.254 0.087 0.066"/></geometry></collision><collision ><origin xyz="0 -0.14075 0.1935" rpy="0 0 0"/><geometry ><box size="0.254 0.3055 0.387"/></geometry></collision><collision ><origin xyz="0 0.023 0.369" rpy="0 0 0"/><geometry ><box size="0.174 0.066 0.048"/></geometry></collision></link>
<link name="mount"></link>
<link name="torch_outlet_frame"></link>
<joint name="mount_joint" type="fixed"><parent link="base_link"/><child link="mount"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
<joint name="torch_outlet_joint" type="fixed"><parent link="base_link"/><child link="torch_outlet_frame"/><origin xyz="0.052 0.3175 0.115" rpy="-1.57079632679 0 0"/></joint>
</robot>
