<?xml version="1.0"?>
<robot name="daihen_cm_7403">
<link name="base_link"><visual ><geometry ><mesh filename="../meshes/base_link.obj"/></geometry></visual><collision ><origin xyz="0 0.1325 0.1815" rpy="0 0 0"/><geometry ><box size="0.254 0.37 0.363"/></geometry></collision><collision ><origin xyz="0 0.2175 0.378" rpy="0 0 0"/><geometry ><box size="0.254 0.2 0.03"/></geometry></collision><collision ><origin xyz="0 -0.173 0.145" rpy="0 0 0"/><geometry ><box size="0.239 0.241 0.29"/></geometry></collision><collision ><origin xyz="0.193393325711 -0.215 0.19979965695" rpy="0 1.308996939 0"/><geometry ><cylinder radius="0.15" length="0.133"/></geometry></collision></link>
<link name="mount"></link>
<link name="torch_outlet_frame"></link>
<joint name="mount_joint" type="fixed"><parent link="base_link"/><child link="mount"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
<joint name="torch_outlet_joint" type="fixed"><parent link="base_link"/><child link="torch_outlet_frame"/><origin xyz="0 0.3295 0.2" rpy="-1.57079632679 0 0"/></joint>
</robot>
