<?xml version="1.0"?>
<robot name="misumi_rusa8_5050">
<link name="base_link"><visual ><geometry ><mesh filename="../meshes/base_link.obj"/></geometry></visual><collision ><origin xyz="0 0 0.067" rpy="0 0 0"/><geometry ><box size="0.5 0.4 0.134"/></geometry></collision></link>
<link name="mount"></link>
<link name="top"></link>
<joint name="mount_joint" type="fixed"><parent link="base_link"/><child link="mount"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
<joint name="top_joint" type="fixed"><parent link="base_link"/><child link="top"/><origin xyz="0 0 0.134" rpy="0 0 0"/></joint>
</robot>
